@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Open+Sans:wght@300;400&family=Raleway:wght@300;400&display=swap");

body {
  margin: 0;
  padding: 0;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #3e5d9c;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 24px;
  text-decoration: none;
  font-size: 25px;
  font-family: "Raleway", sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #3e5d9c;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

#homebody {
  background-color: rgb(239, 216, 181);
  height: 100%;
  width: 100%;
  text-align: center;
}

#aboutbody {
  background-color: rgb(239, 216, 181);
  height: 100%;
  width: 100%;
  padding-top: 30px;
  margin-top: 0px;
}

#zanluc {
  color: black;
  text-align: center;
  padding-top: 30px;
  margin-top: 0px;
  font-family: "Open Sans", "Raleway";
  font-size: 300%;
}

#customletter {
  color: black;
  text-align: center;
  padding-top: 30px;
  margin-top: 0px;
  font-family: "Open Sans", "Raleway";
  font-size: 125%;
}

#reserva {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 60%;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
#hometext {
  color: rgb(70, 69, 66);
  width: 80%;
  font-size: 25px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  padding-left: 10%;
}

#abouttext {
  color: rgb(70, 69, 66);
  padding-left: 20px;
  padding-right: 20px;
}

.valleypicinfo {
  padding: 20px;
  padding-right: 100px;
  font-size: 25px;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.h2about {
  text-align: center;
  font-family: "EB Garamond", "Raleway";
  font-size: 40px;
}

.responsive-image {
  width: 50%;
  max-width: 250px;
  height: auto;
}

.responsive-image2 {
  width: 50%;
  height: auto;
  max-width: 600px;
  float: left;
  padding: 20px;
  padding-right: 50px;
}

.cl {
  clear: both;
}

#bar {
  background-color: gray;
  min-height: 20px;
}

.footer {
  background-color: gray;
  min-height: 20px;
}
.footer p {
  background-color: gray;
  min-height: 20px;
  margin-top: 0;
  text-align: center;
  color: white;
}

.fullcarousel {
  float: left;
  height: auto;
  max-width: 400px;
  padding-left: 50px;
  padding-right: 50px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

#contact_page {
  font-family: "Raleway";
  margin: 0;
  font-size: 30px;
  padding: 20px;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 650px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 650px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .responsive-image2 {
    width: 80%;
    height: auto;
    max-width: 600px;
    float: none;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .valleypicinfo {
    float: left;
    font-size: 15px;
    color: rgb(70, 69, 66);
    text-align: center;
    padding: 20px;
  }

  .h2about {
    font-size: 30px;
  }

  #hometext {
    font-size: 18px;
  }

  .fullcarousel {
    width: 80%;
    height: auto;
    max-width: 600px;
    float: none;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* Slideshow container */
  .slideshow-container {
    max-width: 400px;
    position: relative;
    margin: auto;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
}
